body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 20px;
}

.text {
    text-align: justify;
    margin: 20px;
}


h1 {
    font-size: 24px;
}

form {
    margin-top: 20px;
}

label {
    font-size: 14px;
}

select, input[type="date"] {
    font-size: 14px;
    padding: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.csv-table {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

th.twi_eve-10,
th.twi_mor-10,
td.twi_eve-10,
td.twi_mor-10 {
    background-color: #ffcc00;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

.highlight {
    background-color: #ffffcc; /* Light yellow */
}
